services:
  postgres:
    container_name: "postgres"
    image: "postgres:16.0-alpine3.18"
    env_file:
      - ../.env.development
    ports:
      - "${POSTGRES_PORT:-5432}:5432"

  app:
    container_name: "app"
    build:
      context: ../.
    ports:
      - 3000:3000
